*{
    box-sizing: border-box;
}

html , body{
    padding: 0;
    margin: 0;

    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background: url('images/bg-pattern-bottom.svg') bottom -600px right -150px no-repeat, url('images/bg-pattern-top.svg') top -500px left -200px no-repeat;
    background-color: #009BA8;

    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
}   

#card{
    height: 420px;
    width: 400px;
    border-radius: 20px;
}

#card_image{
    height: 30%;
    width: 100%;

    background-image: url('images/bg-pattern-card.svg');
    border-radius: 20px 20px 0px 0px;
}

#card_body{
    display: flex;
    flex-direction: column;
    height: 45%;

    justify-content: space-between;
    align-items: center;

    background-color: white;
}

#card_body #image{
    width: 100%;
    margin:0;

    display: flex;
    justify-content: center;
    margin-top: -50px;
}

#card_body p img{
    border-radius: 50%;
    border: 5px white solid;
}

#body-infos p{

    margin-bottom: 3px;
    color: #75767B;

}

#name{
    font-size: x-large;
}

#location{
    font-size: larger;
}

#body-infos{
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;

    flex: 1;
}

#card_infos{
    height: 25%;
    border-top: 3px #F6F6F6 solid;
    border-radius: 0px 0px 20px 20px;
    background-color: white;


    display: flex;
    justify-content: center;
    align-items: center;
}

.number-infos p{
    margin: 0;
    color: black;

    font-size: x-large;
}

.number-infos p + p{
    color: #75767B;

    font-size: medium;
}

.number-infos{

    text-align: center;
    flex: 1 1 0;
}

#strong_name{
    font-weight: 700;
    color: black;
}