*{
    box-sizing: border-box;
}

html , body{
    padding: 0;
    margin: 0;

    height: 100%;

    background-color: blue;

    display: flex;
    justify-content: center;
    align-items: center;
}

#card{
    height: 350px;
    width: 300px;
    border-radius: 20px;
}

#card_image{
    height: 30%;
    width: 100%;

    background-image: url('images/bg-pattern-card.svg');
    border-radius: 20px 20px 0px 0px;
}

#card_body{
    display: flex;
    flex-direction: column;
    height: 45%;

    justify-content: space-between;
    align-items: center;

    background-color: white;
}

#card_body #image{
    width: 100%;
    margin:0;

    display: flex;
    justify-content: center;
    margin-top: -50px;
}

#card_body p img{
    border-radius: 50%;
    border: 5px white solid;
}

#body-infos p{
    margin: 0;
}

#body-infos{
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;

    flex: 1;

    padding: 20px;
}

#card_infos{
    height: 25%;
    border-top: 3px #F6F6F6 solid;
    border-radius: 0px 0px 20px 20px;
    background-color: white;


    display: flex;
    justify-content: center;
    align-items: center;
}

.number-infos p{
    margin: 0;
}

.number-infos{

    text-align: center;
    flex: 1 1 0;
}

